<div class="login-wrap">
    <div class="login-html" [style.background]="userDetails ? 'url(' + userDetails.profile_image + ')' : 'black'">
        <div class="container" >
            <div class="login-form" >
                <form [formGroup]="signUpForm">
                    <div class="group">
                        <label for="pass" class="label">First Name</label>
                        <input [readonly]="!editDetails" [ngClass]="editDetails ? 'grey' : 'not-allowed'" type="text"
                            class="input" formControlName="firstname">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Middle Name</label>
                        <input [readonly]="!editDetails" [ngClass]="editDetails ? 'grey' : 'not-allowed'" type="text"
                            class="input" formControlName="middlename">
                    </div>
                    <div class="group">
                        <label for="pass" class="label">Last Name</label>
                        <input [readonly]="!editDetails" [ngClass]="editDetails ? 'grey' : 'not-allowed'" type="text"
                            class="input" formControlName="lastname">
                    </div>
                    <div class="group">
                        <button class="button" (click)="editDetails = !editDetails">{{editDetails ? 'Cancel Edit' :
                            'Edit'}}</button>
                        <button class="button blue" style="margin-top: 10px;" (click)="editUserDetail()">Submit</button>
                        <button class="button red" style="margin-top: 30px;" (click)="logoutUser()">Log Out</button>
                        <button class="button red" style="margin-top: 10px;" (click)="deleteUser()">Delete User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>